<!DOCTYPE html>
<html ng-app="demoApp">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title ng-controller="homeController">{{ page_title }}</title>
		
		<!-- Material Bootstrap -->
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css" rel="stylesheet">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css" rel="stylesheet">
	    <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet"> -->

	    <!-- <link href="./bootstrap/bootstrap.min.css" rel="stylesheet"> -->
	    <link rel="stylesheet" type="text/css" href="./bootstrap/material.css">
	    <link href="./bootstrap/roboto.css" rel="stylesheet">
		<link href="./bootstrap/material-fullpalette.css" rel="stylesheet">
	    <link href="./bootstrap/ripples.css" rel="stylesheet">
	    <link href="./bootstrap/snackbar.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link rel="stylesheet" type="text/css" href="./css/homepage.css">
	    <link rel="stylesheet" type="text/css" href="./css/hover.css">

	    <!-- Angular -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<!-- // <script type="text/javascript" src="./angular/angular.js"></script> -->
		
	</head>


	<body>
		<div class="navbar navbar-black navbar-fixed-top" ng-controller="homeController">
			<div class="container">
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
			        <a class="navbar-brand">{{ person_name }}</a>
			    </div>
			    <div class="navbar-collapse navbar-responsive-collapse collapse">
			        <ul class="nav navbar-nav navbar-right">
			            <li><a href="#home">Home</a></li>
			            <li><a href="#about">About</a></li>
			            <li><a href="#skills">Skills</a></li>
			            <li><a href="#experience">Experience</a></li>
			            <li><a href="#education">Education</a></li>
			            <li><a href="#projects">Projects</a></li>
			            <li><a href="#publications">Publications</a></li>
			            <li><a href="#webpresence">Web Presence</a></li>
			            <li><a href="#contact">Contact</a></li>
			            <li><a target="_blank" ng-href="http://{{resume_link}}">Resume</a></li>
			        </ul>
			    </div>
			</div>
		</div>  <!-- navbar div -->

		<div id="home" class="jumbotron black_jumbotron" ng-controller="homeController">
			<div class="container">
				<div class="col-md-4 center-block">
					<img ng-src="{{person_image}}" class="img-responsive center-block img-rounded white_shadow" alt="Personal Photo">
				</div>

				<div class="col-md-8 text-center upspace whitef">
					<h1>{{ person_name }}</h1>
					<p ng-if='descriptor !== ""'>{{ descriptor }}</p>
				</div>
			</div>
		</div> <!-- jumbo div -->

		<div id="about" class="jumbotron white_jumbotron" ng-controller="aboutController">
			<div class="container">
				<h1 class="text-center downspace"><strong>About me</strong></h1>
				<div class="col-md-10 col-md-offset-1 text-justify">
					<p ng-repeat="text in about_tables">{{ text.para }}</p>
				</div>
			</div>
		</div> <!--jumbo div -->

		<div id="skills" class="jumbotron black_jumbotron" ng-controller="skillsController">
			<div class="container">
				<h1 class="text-center downspace"><strong><span class="whitef">Skills</span></strong></h1>
				<div class="col-md-11 col-md-offset-1">
					<div class="whitef">
						<!-- <div></div> --> <!-- thead -->
						<div> <!-- tbody -->
							<div ng-repeat="row in skill_tables" class="table_row">
								<div class="col-md-4">
									<h4>{{ row.topic }}:</h4>
								</div>
								<div class="col-md-7">
									<h4>
										<span ng-if='row.sub_topic !== ""'>
											{{ row.sub_topic }} - 
										</span>
										<span>
											{{ row.skill }}
										</span>
									</h4>
								</div>
							</div>
						</div> <!--tbody -->
					</div> <!-- table -->
				</div>
			</div>
		</div> <!--jumbo div -->

		<div id="experience" class="jumbotron white_jumbotron" ng-controller="experienceController">
			<div class="container">
				<h1 class="text-center downspace"><strong>Experience</strong></h1><br/>
				
					<div ng-repeat="job in work_tables" class="col-md-4 col-sm-12 hvr-pop">
						<img ng-if='job.logo_URL' ng-src="{{job.logo_URL}}" class="img-responsive img-rounded center-block black_shadow downspace hidden-xs hidden-sm unit" alt="Company Logo">
						<div class="white_inner_jumbo black_shadow text-justify container">
							<h3>{{ job.companyName }}</h3>
							<h4>{{ job.jobTitle }}</h4>
							<h4 ng-if='job.location !== ""'>{{ job.location }}</h4>
							<h4 ng-if='job.duration !== ""'>{{ job.duration }}</h4>
							
							<h4>Responsibilities:</h4>
							<div ng-repeat="para in job.description">
								<span ng-if='para !== ""'>
									{{ para.text }}
								</span>
							</div>
							<h4 ng-if='job.website !== ""'>Website - <a class="text-info" target="_blank" ng-href="http://{{job.website}}">{{ job.website_descrip }}</a></h4>
						</div>
					</div>

				<!-- <div ng-repeat="job in work_tables" class="col-md-12">
					<div class="col-md-8 white_inner_jumbo black_shadow">
						<h3>{{ job.companyName }}</h3>
						<h4>{{ job.jobTitle }}</h4>
						<h4 ng-if='job.location !== ""'>Location - {{ job.location }}</h4>
						<h4 ng-if='job.duration !== ""'>Duration - {{ job.duration }}</h4>
						<h4>Responsibilities:</h4>
						<div ng-repeat="para in job.description">
							<span ng-if='para !== ""'>
								{{ para.text }}
							</span>
						</div>
						<h4 ng-if='job.website !== ""'>Website - <a class="text-info" target="_blank" ng-href="http://{{job.website}}">{{ job.website_descrip }}</a></h4>
					</div>

					<div class="col-md-3 col-md-offset-1 text-center hidden-sm hidden-xs">
						<img ng-if='job.logo_URL' ng-src="{{job.logo_URL}}" class="img-responsive img-rounded center-block black_shadow downspace" alt="Company Logo">
					</div>
				</div> -->
			</div>
		</div> <!--jumbo div -->

		<div id="education" class="jumbotron black_jumbotron" ng-controller="educationController">
			<div class="container">
				<h1 class="text-center downspace"><strong><span class="whitef">Education</span></strong></h1><br/>

				<div ng-repeat="lessons in study_tables" class="col-md-4 col-sm-12 hvr-pop">
					<img ng-if='lessons.logo_URL' ng-src="{{lessons.logo_URL}}" class="img-responsive img-rounded center-block white_shadow downspace hidden-xs hidden-sm unit" alt="University Logo">
					<div class="black_inner_jumbo white_shadow whitef text-justify container">
						<h3>{{ lessons.uniName }}</h3>
						<h4>{{ lessons.role }}</h4>
						<h4>Degree - {{ lessons.degree }}</h4>
						<h4 ng-if='lessons.major !== ""'>Major - {{ lessons.major }}</h4>
						<h4 ng-if='lessons.minor !== ""'>Minor - {{ lessons.minor }}</h4>
						<h4 ng-if='lessons.duration !== ""'>Duration - {{ lessons.duration }}</h4>
						
						<div ng-if='lessons.courses !== ""'>
							<h4>Courses:</h4>
							<div>{{ lessons.courses }}</div>
						</div>
						<h4>Description:</h4>
						<div ng-repeat="para in lessons.description">
							{{ para.text }}
						</div>
						<h4 ng-if='lessons.website !== ""'>Website - <a class="text-info" target="_blank" ng-href="http://{{lessons.website}}">{{ lessons.website_descrip }}</a></h4>
					</div>
				</div>
				
				<!-- <div ng-repeat="lessons in study_tables" class="col-md-12">
					<div class="col-md-8 black_inner_jumbo whitef white_shadow">
						<h3>{{ lessons.uniName }}</h3>
						<h4>{{ lessons.role }}</h4>
						<h4>Degree - {{ lessons.degree }}</h4>
						<h4 ng-if='lessons.major !== ""'>Major - {{ lessons.major }}</h4>
						<h4 ng-if='lessons.minor !== ""'>Minor - {{ lessons.minor }}</h4>
						<h4 ng-if='lessons.duration !== ""'>Duration - {{ lessons.duration }}</h4>
						<div ng-if='lessons.courses !== ""'>
							<h4>Courses:</h4>
							<div>{{ lessons.courses }}</div>
						</div>
						<h4>Description:</h4>
						<div ng-repeat="para in lessons.description">
							{{ para.text }}
						</div>
						<h4 ng-if='lessons.website !== ""'>Website - <a class="text-info" target="_blank" ng-href="http://{{lessons.website}}">{{ lessons.website_descrip }}</a></h4>
					</div>

					<div class="col-md-3 col-md-offset-1 text-center hidden-sm hidden-xs">
						<img ng-if='lessons.logo_URL !== ""' ng-src="{{lessons.logo_URL}}" class="img-responsive img-rounded center-block white_shadow downspace" alt="University Logo">
					</div>
				</div> -->
			</div>
		</div> <!--jumbo div -->

		<div id="projects" class="jumbotron white_jumbotron" ng-controller="projectController">
			<div class="container">
				<h1 class="text-center downspace"><strong>Projects</strong></h1><br/>

				<div ng-repeat="project in project_tables" class="col-md-4 col-sm-12 hvr-pop">
					<img ng-if='project.logo_URL' ng-src="{{project.logo_URL}}" class="img-responsive img-rounded center-block black_shadow downspace hidden-xs hidden-sm unit" alt="Project Logo">
					<div class="white_inner_jumbo black_shadow text-justify container">
						<h3>{{ project.projectName }}</h3>
						<h4 ng-if='project.short_descrip !== ""'>{{ project.short_descrip }}</h4>
						<h4>Duration - {{ project.duration }}</h4>
						<h4>Description:</h4>
						<div ng-repeat="para in project.description">
							{{ para.text }}
						</div>
						<h4 ng-if='project.tech !== ""'>Technology used - {{ project.tech }}</h4>
						<h4 ng-if='project.link !== ""'>Link - <a class="text-info" target="_blank" ng-href="http://{{project.link}}">{{ project.link_descrip }}</a></h4>
					</div>
				</div>

				<!-- <div ng-repeat="project in project_tables" class="col-md-12">
					<div class="col-md-8 white_inner_jumbo black_shadow">
						<h3>{{ project.projectName }}</h3>
						<h4 ng-if='project.short_descrip !== ""'>{{ project.short_descrip }}</h4>
						<h4>Duration - {{ project.duration }}</h4>
						<h4>Description:</h4>
						<div ng-repeat="para in project.description">
							{{ para.text }}
						</div>
						<h4 ng-if='project.tech !== ""'>Technology used - {{ project.tech }}</h4>
						<h4 ng-if='project.link !== ""'>Link - <a class="text-info" target="_blank" ng-href="http://{{project.link}}">{{ project.link_descrip }}</a></h4>
					</div>

					<div class="col-md-3 col-md-offset-1 text-center hidden-sm hidden-xs">
						<img ng-if='project.logoURL !== ""' ng-src="{{project.logo_URL}}" class="img-responsive img-rounded center-block black_shadow downspace" alt="Project Logo">
					</div>
				</div> -->
			</div>
		</div> <!--jumbo div -->

		<div id="publications" class="jumbotron black_jumbotron" ng-controller="publicationController">
			<div class="container">
				<h1 class="text-center downspace"><strong><span class="whitef">Publications</span></strong></h1><br/>

				<div ng-repeat="papers in pub_tables" class="col-md-4 col-sm-12 hvr-pop">
					<div class="container">
						<div class="row">
							<img ng-if='papers.logo_URL' ng-src="{{papers.logo_URL}}" class="img-responsive img-rounded center-block white_shadow downspace hidden-xs hidden-sm unit" alt="Publisher Logo">
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="black_inner_jumbo white_shadow whitef text-justify container">
								<h3>{{ papers.paperName }}</h3>
								<h4>{{ papers.conference }}</h4>
								<h4 ng-if='papers.pub_time !== ""'>Published in {{ papers.pub_time }}</h4>
								<h4>Description:</h4>
								<div ng-repeat="para in papers.description">
									{{ para.text }}
								</div>
								<h4 ng-if='papers.link !== ""'>Link - <a class="text-info" target="_blank" ng-href="http://{{papers.link}}">{{ papers.link_descrip }}</a></h4>
							</div>
						</div>
					</div>
				</div>
				
				<!-- <div ng-repeat="papers in pub_tables" class="col-md-12">
					<div class="col-md-8 black_inner_jumbo whitef white_shadow">
						<h3>{{ papers.paperName }}</h3>
						<h4>{{ papers.conference }}</h4>
						<h4 ng-if='papers.pub_time !== ""'>Published in {{ papers.pub_time }}</h4>
						<h4>Description:</h4>
						<div ng-repeat="para in papers.description">
							{{ para.text }}
						</div>
						<h4 ng-if='papers.link !== ""'>Link - <a class="text-info" target="_blank" ng-href="http://{{papers.link}}">{{ papers.link_descrip }}</a></h4>
					</div>

					<div class="col-md-3 col-md-offset-1 text-center hidden-sm hidden-xs">
						<img ng-if='papers.logo_URL !== ""' ng-src="{{papers.logo_URL}}" class="img-responsive img-rounded center-block white_shadow downspace" alt="Publisher Logo">
					</div>
				</div> -->
			</div>
		</div> <!--jumbo div -->

		<div id="webpresence" class="jumbotron white_jumbotron" ng-controller="webController">
			<div class="container">
				<h1 class="text-center downspace"><strong>Web Presence</strong></h1><br/>

				<div>
					<!-- Use four columns -->
					<div ng-repeat="site in web_tables" class="col-md-3 col-sm-6">
						<a target="_blank" class="text-info" ng-href="http://{{site.link}}">
							<p class="text-center">{{ site.siteName }}</p>
							<img ng-src="{{site.logo_URL}}" class="img-responsive img-rounded center-block downspace logo" alt="Site Logo">
						</a>
					</div>
				</div>
			</div>
		</div> <!--jumbo div -->

		<div id="contact" class="jumbotron black_jumbotron" ng-controller="contactsController">
			<div class="container">
				<h1 class="text-center downspace"><strong><span class="whitef">Contact</span></strong></h1><br/>

				<div ng-repeat="contact in contact_tables" class="col-sm-4">
					<h2 class="whitef">{{ contact.mode }}</h2>
					<div ng-repeat="instance in contact.instances" class="whitef">
						<h4 ng-if='contact.mode !== "Address"'>{{ instance.description }} - {{ instance.value }}</h4>
						<div ng-if='contact.mode === "Address"'>
							<h4>{{ instance.description }} -</h4>
							<h5 ng-repeat="value in instance.value">{{ value.line }}</h5>
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- jumbo div -->

		<!-- Angular Scripts -->
		<script type="text/javascript" src="./js/controllers.js"></script>
		<script type="text/javascript" src="./js/factory.js"></script>
		<script type="text/javascript" src="./customize/home.js"></script>
		<script type="text/javascript" src="./customize/about.js"></script>
		<script type="text/javascript" src="./customize/skills.js"></script>
		<script type="text/javascript" src="./customize/experience.js"></script>
		<script type="text/javascript" src="./customize/education.js"></script>
		<script type="text/javascript" src="./customize/projects.js"></script>
		<script type="text/javascript" src="./customize/publications.js"></script>
		<script type="text/javascript" src="./customize/webpresence.js"></script>
		<script type="text/javascript" src="./customize/contact.js"></script>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<!-- <script src="./js/jquery-1.10.2.min.js"></script> -->

		<!-- Bootstrap Scripts -->
        <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		// <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.js"></script>
  //       <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>
  //       <script src="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>

  //       <script src="http://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
  //       <script type="text/javascript" src="./js/materialscript.js"></script> -->

      	<script src="./js/bootstrap.min.js"></script>
		<script src="./js/ripples.js"></script>
		<script src="./js/material.js"></script>
		<script src="./js/snackbar.min.js"></script>

		<script src="./js/jquery.nouislider.min.js"></script>
		<script type="text/javascript" src="./js/materialscript.js"></script>
	</body>
</html>

